/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} body {
    font-family: Arial, sans-serif;
} 
/* Estilos header*/
header {
    width: 100% ;
    height: 600px ;
    background: #283c86;  /* fallback for old browsers */
    background: linear-gradient(to right, hsla(110, 61%, 45%, 0.292), hsla(227, 58%, 47%, 0.265)), url(../img/portada.jpg);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(110, 61%, 45%, 0.292), hsla(227, 58%, 47%, 0.265)), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
} nav {
    text-align: right;
    padding: 30px 50px 0 0;
} nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}nav > a:hover {
    text-decoration: underline;
}.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
} header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
} .textos-header h1 {
    font-size: 50px;
    color: white;
} 















main {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto; 
    overflow: hidden;
} section {
    margin-bottom: 20px;
}
 header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
} h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
} ul {
    list-style: none;
    margin: 0;
    padding: 0;
} ul li {
    margin-bottom: 5px;
}ul li a {
    text-decoration: none;
    color: #333;
} ul li a:hover {
    text-decoration: underline;
} address {
    margin-top: 0;
    font-style: normal;
} footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}    
    /* Estilos específicos */
section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
} section p:first-child {
    margin-top: 0;
} section p:last-child {
    margin-bottom: 0;
}  .about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
} .servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
} .servicio-ind{
    width: 28%;
    text-align: center;
} .servicio-ind img {
    width: 90%;
} .servicio-ind h3{
    margin: 10 px 0;
} .servicio-ind p{
    font-weight: 300;
    text-align: center;
}