body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    height: 100%;
}
nav.navbar{
    background: #1b492e;
    color: white;
}
nav.navbar:hover{
    color: #4CAF50;
}
/** estilos para los productos**/
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.tarjeta img {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

.tarjeta h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tarjeta p {
    font-size: 16px;
    margin-bottom: 10px;
}

.tarjeta .precio {
    color: black;
    font-size: 24px;
}
.boton {
    background-color: #1b492e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background: #218249;
}